* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #696785;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-figure{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: #e3a403;
    border-radius: 10%;
}
.container{
    position: relative;
}
.second-figure{
    position: absolute;
}