* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: 500px;
    height: 500px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.2);
    position: relative;
}

.circle {
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
}

.square {
    position: absolute;
}
.oval{
    position: absolute;
}